<!DOCTYPE html>
<html lang="ru">
//= head.html
<body>
    //= header.html
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget erat rutrum purus pharetra lobortis. Sed ipsum nisl, luctus ac tellus vel, lacinia congue est. Duis at purus vel augue luctus pretium. Etiam vulputate eu risus et suscipit. Sed magna lectus, consectetur ultricies sapien non, feugiat elementum arcu. Quisque in posuere magna, nec lacinia sapien. Duis sed metus varius, placerat orci non, gravida massa. Sed suscipit hendrerit arcu nec luctus. Nulla sit amet tellus et nisi commodo ornare. Etiam scelerisque urna in risus posuere, quis dictum sapien lobortis. Donec rutrum libero vel lectus rutrum, non tempor est pellentesque. Aliquam orci urna, varius non dolor eget, laoreet lobortis risus. Ut tempor, justo a eleifend aliquet, turpis tellus consectetur mauris, eu varius augue odio eu ante. Etiam dolor erat, ultrices ac feugiat a, cursus et nisl.

Duis finibus ornare erat a condimentum. Fusce feugiat sem at quam feugiat, quis vestibulum arcu ullamcorper. Etiam rutrum porta ornare. Maecenas pharetra mauris magna, vitae sagittis lacus pellentesque eget. Ut bibendum interdum dui quis posuere. Suspendisse dictum ex non est tempor pharetra. Sed in velit ut velit egestas pretium a dignissim orci. Sed sit amet felis sem. Vivamus scelerisque egestas orci, eu aliquam enim malesuada sit amet. In congue aliquet metus sit amet eleifend.

Duis facilisis, ex porta pharetra eleifend, felis nunc dictum sapien, sed suscipit magna mi sed sapien. Morbi varius dui eget tempor volutpat. Nunc a ex ac ante euismod interdum. Curabitur et placerat lorem. Nam finibus et lectus vel consequat. Nunc quis viverra arcu, a ultrices eros. In eleifend purus tellus, eget feugiat ipsum aliquet sit amet. Mauris aliquam malesuada orci, id bibendum nisl porta non. Nulla varius eleifend sem. Nullam lorem felis, elementum in massa nec, ornare mattis nibh. Praesent pellentesque lobortis metus, id bibendum nibh pellentesque ac. Proin nec maximus lectus, non scelerisque ante. Curabitur quam magna, rhoncus vel auctor rhoncus, gravida eu lectus. Integer ac quam tincidunt, egestas quam sit amet, hendrerit mi.

Nunc augue quam, commodo at sem et, iaculis aliquet sem. Aliquam tempor risus eu suscipit consectetur. Proin id tortor ac est porttitor semper. Mauris cursus turpis nibh, ac rhoncus nulla tempus et. Integer varius eros non augue consectetur, vitae rhoncus est ornare. Phasellus aliquam risus eu neque fringilla mollis. Nunc non purus egestas, posuere arcu eu, facilisis nulla. Suspendisse vel felis a urna ornare interdum ac nec odio. Nam malesuada viverra velit in finibus. In quis imperdiet tellus. Donec a lobortis nisi, id facilisis nisi. In hac habitasse platea dictumst.

Aliquam cursus, felis finibus vestibulum rhoncus, dui magna vulputate ligula, ac egestas turpis mi suscipit ante. Sed cursus magna nibh, vel pretium purus pretium sed. Maecenas eget ultricies augue. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur lorem arcu, aliquam sed massa quis, tempor iaculis lacus. Donec iaculis non velit quis elementum. Morbi nec ipsum at turpis elementum malesuada non at risus. Vestibulum congue nulla libero, eget venenatis eros elementum euismod. Suspendisse ornare vestibulum lectus, eget condimentum justo dignissim nec.
                </div>
            </div>
        </div>
    </div>
    //= footer.html
</body>
</html>