<!DOCTYPE html>
<html lang="ru">
//= head.html
<body>
    //= header.html
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                    Смысл данного сайта состоит в том чтобы дать вам инструмент
                        поиска книги, подходящей вам по интересам, книги,
                        которая будут соответсвовать вашему настроению в настоящий момент.
                        Мне лично всегда было тяжело подобрать такую книгу, поэтому я решил сделать такой поисковик книг, в форме квеста.
                    <p>
                    На начальном этапе здесь собраны книги относящиеся к
                        жанрам фэнтези и научной фантастики, но постепенно будут добавляться
                        и другие жанры: детективы, приключения, мистика, биографии и документалистика и другие.
                    </p>
                    </p>
                    <p>
                    Идея данного проекта взята с диаграммы <a target="_blank" href="http://io9.gizmodo.com/5844991/handy-flowchart-for-choosing-among-nprs-top-100-science-fiction-and-fantasy-books">"Handy Flowchart for Choosing Among NPR's Top 100 Science Fiction and Fantasy Books"</a> которая, в свою очередь,
                    базируется на рейтинге книг по версии сайта <a target="_blank" href="http://www.npr.org/">npr.org</a>.
                    </p>
            </div>
        </div>
    </div>
    //= footer.html
</body>
</html>