<!DOCTYPE html>
<html lang="en" ng-app="pickthebook">
<head>
    <meta charset="UTF-8">
    <meta title="Гайд по книгам - выбери книгу для чтения и реши, что почитать">
    <script src="./js/main.js"></script>
    <link type="text/css" href="./css/main.css" rel="stylesheet" media="screen">
    <title>Выбор книги</title>
</head>
<body >
//= header.html
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div ng-controller="indexController">
            <div>{{ question }}</div>
            <div ng-repeat="item in answers"><br>
                <a href="http://127.0.0.1:8080/api/detail/?id={{ item.id }}">
                    <button class="btn btn-success">{{ item.text }}</button>
                </a><br>

            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

//= footer.html
</body>
</html>