<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <title>Test Game</title>
</head>
<body>
<table border="1" cellpadding="0" cellspacing="0">
    <tr width="100px">
        <td width="100px"><a href="#"></a></td>
        <td width="100px"><a href="#"></a></td>
        <td width="100px"><a href="#"></a></td>
    </tr>
    <tr width="100px">
        <td width="100px"><a href="#"></a></td>
        <td width="100px"><a href="#"></a></td>
        <td width="100px"><a href="#"></a></td>
    </tr>
    <tr width="100px">
        <td width="100px"><a href="#"></a></td>
        <td width="100px"><a href="#"></a></td>
        <td width="100px"><a href="#"></a></td>
    </tr>
</table>
</body>
<script>
    'use strict';
    var set_mark = function (el, mark) {
            $(el).children('a').html(mark);
            return false;
    };
    $(document).ready(function () {
        $('td').on('click', function(){
            set_mark($(this), 'x')
        });
    })
</script>
</html>