body {
    background-image: url("../../img/skulls.png");
}
h1{
    margin-left: 45px;
}

h2{
    text-align: center;
}

.btn-success{
    white-space: normal;
    height: 80px;
    width: 100%;
}

.description {
    font-size: large;
}